---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Thumnail from "../components/Thumnail.astro";

const images = await Astro.glob("../../public/images/*.*");

let title = "Lens by HTML5 UP";
let description =
  "This is Lens, a full screen (and entirely responsive) photo gallery design.";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content={description} />
    <meta
      property="og:image"
      content="https://html5up.net/uploads/cards/lens.jpg"
    />

    <link href="./favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
    <div id="main">
      <Header
        title="Lens"
        description="Just another fine responsive site template by HTML5 UP"
        tiwtter="#"
        instagram="#"
        github="#"
        email="#"
      />

      <section id="thumbnails">
        {
          images.map((img) => (
            <Thumnail
              title="Diam tempus accumsan"
              href={img.default}
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            />
          ))
        }
      </section>

      <Footer title="AREA44" />
    </div>

    <script is:raw src="js/jquery.min.js"></script>
    <script is:raw src="js/browser.min.js"></script>
    <script is:raw src="js/breakpoints.min.js"></script>
    <script is:raw src="js/main.js"></script>
  </body>
</html>
