---
const { title } = Astro.props;
---

<footer id="footer">
  <ul class="copyright">
    <li>&copy; {title}</li>
    <li>
      Design: <a href="https://html5up.net">HTML5 UP</a>.
    </li>
    <li>
      Images: <a href="https://unsplash.com/">Unsplash</a>.
    </li>
  </ul>
</footer>
